django
pycrypto
django-registration
PyYAML
docutils 
django-extensions
django-cpserver
cherrypy

http://www.satchmoproject.com/snapshots/trml2pdf-1.2.tar.gz
http://typogrify.googlecode.com/files/typogrify-1.0.tar.gz

-e svn+http://django-app-plugins.googlecode.com/svn/trunk/#egg=django-app-plugins
-e hg+https://sorl-thumbnail.googlecode.com/hg/#egg=sorl-thumbnail
-e hg+http://bitbucket.org/bkroeze/django-threaded-multihost/#egg=django-threaded-multihost
-e hg+http://bitbucket.org/chris1610/satchmo/#egg=satchmo
-e hg+http://hg.assembla.com/django-testimonials/#egg=django-testimonials
-e hg+http://bitbucket.org/bkroeze/django-signals-ahoy/#egg=signals-ahoy
-e git+git://github.com/robhudson/django-debug-toolbar.git#egg=django-debug-toolbar
