/* @override http://localhost:8000/static/css/style.css */

#container {
width: 90%;
margin: 10px auto;
background-color: #fff;
color: #333;
line-height: 180%;
padding: 0;
margin-top: 0;
}

#navbar {
width: 100%;
background: url(../images/back-navbar.png) bottom;
border-bottom: 1px solid #ccc;
color: #333;
height:22px;
margin:0;
padding:0;
}
#navbarii {
float:right;
background:url(../images/top-sidebar1.png);
background-repeat:no-repeat;
background-position: right bottom -10px;
width:199px;
height:35px;
border-bottom: 1px solid #F4E500;
position:right;
margin-top:161px;
}

a {
color:#666;
}
a:hover{
color:#333;
}
#top {
background-color: #ddd;
height:110px;
border-top: 3px red solid;
background: url(../images/back-top.png) repeat-x ;
margin:0 !important;
}

#top h1 {
padding: 0;
margin: 0;
text-align:center;
padding:20px 0 0 20px;
position:absolute;

}
#logo {
float:left;
width:337px;
height:63px;
}
#search {
float:left;
width:500px;
height:30px;
margin-top:7px;
margin-left:25px;
}

.searchText {
width: 385px;
height: 26px;
float:left;
margin-top:22px;
border: solid #b3b3b3 1px;
background: url(../images/back-input-search.png) repeat-x;
font-size: 20px;
padding: 2px;
}
.searchSubmit {
width: 70px;
height:32px;
float:left;
margin: 0 0 0 8px;
background: url(../images/back-search.png) repeat-x;
border: 1px solid red;
color:#fff;
font-weight:bold;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}


h5 {
margin: 0;
padding: 0;
}

#sidebar-secondary {
float: left;
width: 160px;
margin: 0;
padding: 1em;
background: url(../images/back-sidebar.png) repeat-x;
}

#sidebar-secondary h3, #sidebar-primary h3 {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 0.1em;
	margin-top: 1em;	
	color:#ff0000;
	text-shadow: 0px 1px 1px #ccc;
	padding-bottom: 3px; 
	font-family:sans-serif;
	letter-spacing:2px;
}

#sidebar-primary {
float: right;
width: 160px;
margin: 0;
padding: 1em;
border-bottom: 1px solid silver;
background: url(../images/back-sidebar.png) repeat-x;

}

/*#sidebar-primary .wishlist {
	padding-top: 10px;
}
*/

#content {
margin-left: 184px;
margin-right: 184px;
padding: 1em;
background:url(../images/back-highligh.png) repeat-x #fced21;
border-bottom: 2px solid #fced21;
-moz-border-radius: 0 0 3px 3px;
-webkit-border-radius:0 0 3px 3px;
}

body {
	font-family:  "Arial", serif;
	font-size: 12px;
	margin-top: 0px;
	padding-top: 0px;
	background:#fff;
}

#pagination {
clear:both;
display: block;
width:100%;
float: none;
padding: 1em;
}

#pagination ul {
margin: 0;
padding: 0;
text-align: left; 
font-size: 12px;
}

#pagination li {
list-style-type: none;
display: inline;
padding-bottom: 1px;
}

#pagination a, #pagination a:visited {
padding: 0 5px;
text-decoration: none; 
}

#pagination li.currentpage {
font-weight: bold;
padding: 0 5px;
}

#content div.productreviews {
padding-top: 10px;
padding-bottom: 10px;
font-size: 12px;
}


#content div.productreviews h2 {
    font-size: 14px;
}

#content div.productreviews span.label {
	float: left;
	width: 80px;
}

#footer, #footer a {
clear: both;
margin: 0;
padding: .5em;
color: #333;
background: url(../images/back-navbar.png) bottom;

border-bottom: 1px solid #ccc;
}

#sidebar-secondary p, #sidebar-primary p { margin: 0 0 1em 0; }
#content h2 { margin: 0 0 .5em 0; }

.brandcategories {
    clear: both;
}

.brandImage,
.productImage {
border:solid 1px silver;
padding:5px;
float: left;
margin-top: 10px;
margin-left: 10px;
margin-right: 10px;
margin-bottom:2px;
text-align: center;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
}

.brandImage,
.productImage:hover {
border:solid 1px #ff0000;
border-collapse:collapse;
}

.productImage p {
text-align: center;
font-size: 10pt;
}




#shipping ul li {
list-style-type: none;	
text-decoration: none;
padding-left: 1em;
text-indent: -1em;
}
#checkoutprogress {
border-style: solid;
border-width: 1px;
padding: 3px;
margin-bottom: 25px;	
}

#checkoutprogress ul {
display: inline;
margin-left: 0;
padding-left: 0;
border: none;
}

#checkoutprogress ul li {
margin-left: 0;
padding-left: 2px;
display: inline;
list-style: none;
}

#checkoutprogress ul li:before {
content: "\0020 \0020 \0020 \00BB \0020";
display: inline;
list-style: none;
}

#checkoutprogress ul li.first:before {
content: " ";
}

#checkoutprogress li.active {
background-color: #ccc;
}

#wishlist ul li,
#product_category ul li {
list-style: none;
padding: 0.5em;
border-bottom: 1px dashed #e0e0e0;	
background-color: white;
}

#wishlist ul li:hover
#product_category ul li:hover {
	background-color: #f0fff0;
}

#wishlist ul li a,
#product_category ul li a {
	display: block;
}

#wishlist span.date {
	font-style: italic;
	display: block;
	margin-left: 5px;
	font-size: 10px;
}

#wishlist form {
	display: inline;
}

#menu_container ul {
margin: 0;
padding: 0;
list-style-image: url(../images/list-icon-trans.png);
list-style-type:circle;
list-style-position:inside;
}

#menu_container a {
color: #FF0000;
text-shadow: 0 1px 1px #ccc;
width: 9em;
padding: 3px 17px 3px 0;
text-decoration: none;
font-weight: bold;
font-size: 16px;
letter-spacing: 2px;
list-style: none !important;

}

#menu_container a:hover {
text-decoration:underline;
color:#333;
text-shadow: 0 1px 1px #ccc;
}

#menu_container  li a {

list-style-type: circle !important;
margin-bottom:5px;


}

#menu_container li li a {

color: #666;
padding: 3px 8px 3px 0;
text-decoration: none;
font-weight: normal;
font-size: 14px;

}

#menu_container li li li a {
color: #666;
padding: 3px 8px 3px 0;
text-decoration: none;
font-weight: normal;
font-size: 14px;

}

#menu_container a.current:before {
content: "\0020 \0020 \0020 \00BB \0020";
}

.addressblock {
padding-top: .5em;
padding-bottom: .5em;
}

.profile li {
list-style-type: none;
}

table.ordertable {
width:  100%;
font-weight: normal;
font-size: 13px;
}

table.ordertable thead {
	background-color: #ddd;
}

table.ordertable span.orderitemqty {
	font-style: italic;
}
p {
	line-height: 150%;
}

.help, p.help {
        font-size:9px !important; color:#999;
}

img {
	border: none;
}

.error {
    color: red;
}

/* =============== Navigation Bars ===================== */

#navbar ul {		
	margin: 1em;
	padding: 0px;
}
#navbar ul li { 
	display: inline; 
	list-style: none; 		
}
#navbar ul li { 
	padding-left: 0.7em; 
	padding-right: 0.5em; 
	border-left: 1px solid #b0b0b0; 	
}  
#navbar ul li.first {
	padding-left: 0em; 
	border-left: none; 
}

.recentview h3 {
	padding-bottom: 10px;
}

.recentitem {
	padding-bottom: 10px;
}

div.recentlyadded { 
    display: block;
}

.qtyform #id_quantity {
    width: 5em;
}

#payment ul li{
    list-style-type: none;
}

/* ============ Upsell section ============== */

div.upsell {
	padding-top: 10px;
}

div.upsell .upselldescription {
	padding-bottom: 10px;
}
/* login top */
.login-top{
	float:right;
	height:20px;}
	
.login-top li{
float:left;
}
.resaltado {
float:left;
margin:10px 10px 2px;
padding:5px;
text-align:center;
border:1px solid silver;
background:#fff;
width:130px;
height:auto;
margin-bottom:20px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
}	
.description, .description a {
display:block;
}
.price, .price a {
color:#ff0000;
line-height:8px;
font-weight:bold;
}
.producto-estrella {
color:#004492;
font-size:16px;
border-bottom: 2px solid #fced21;
background: url(../images/star-trans.png) no-repeat left bottom;
padding: 0 0 0 31px;
font-weight: normal;
}

.mas-vendido {
color:#004492;
font-size:16px;
border-bottom: 2px solid #fced21;
background: url(../images/money-simbol.png) no-repeat left bottom;
padding: 0 0 0 31px;
font-weight: normal;
}