<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

{% load i18n satchmo_category satchmo_google satchmo_util satchmo_currency satchmo_discounts app_plugins %}
<head>
    {% block extra-head %}{% endblock %}
    <link rel="shortcut icon" href="/static/images/fav-icon.png" />
    <link rel="stylesheet" href="{{ media_url }}css/style.css" />
    <title>{% block title %}{{ shop_name }}{% if pagetitle %}: {{ pagetitle }}{% endif %}{% endblock %}</title>
    {% plugin_point "page_head" %}
</head>
{% block body %}
<body{% if bodyid %} id="{{ bodyid }}"{% endif %}{% if bodyclass %} class="{{ bodyclass }}"{% endif %}>
    {% plugin_point "page_top" %}
    <div id="container">
	    <div id="top"><div id="logo">
	        <!--<h1>{{ shop_name }}</h1>--><h1><img src="{{ media_url }}images/logo-trans.png" alt="Rincon Colombia" title="ir al inicio" /></h1>
	    		</div>
				
				<div id="search">
			{% satchmo_search_form %}
		</div>
		</div> <!-- fin de top -->
	    <div id="navbar">
	    <ul>
	    	{% block navbar %}Breadcrumbs here{% endblock %}
	   	
		<div class="login-top">
<li>
{% if user.is_staff %}

		<a href="/admin" target="blank">{% trans "Admin" %}</a><br/>
		{% endif %}
	    {% if user.is_authenticated %}
		{% url satchmo_account_info as accounturl %}
<li>        {% if accounturl %}<a href="{{ accounturl }}" target="blank">{% trans "Account Details" %}</a><br/>{% endif %}
<li>         <a href="{{ logout_url }}?next={{request.path}}">{% trans "Log out" %}</a><br/></li>
	    {% else %}
<li>         <a href="{{ login_url }}?next={{request.path}}">{% trans "Log in" %}</a><br/></li>
	    {% endif %}
</li>
<li>
		{% url satchmo_cart as carturl %}
<li>	    {% if carturl %}<a href="{{ carturl }}">{% trans "Cart" %}</a>{% endif %}  {% if cart_count %}
     ({{ cart_count }}{% if cart.total %} - {{ cart|discount_cart_total:sale|currency }}{% endif %}) 
</li>
{% url satchmo_checkout-step1 as checkouturl %}
<li>        {% if checkouturl %}<a href="{{ checkouturl }}">{% trans "Check out" %}</a>{% endif %}</li>
	    {% endif %}
</li>

		</div><!-- fin del login-top -->
   
</ul>
   </div>
 

	<div id="content">

	   <div id="sidebar-secondary">
		{% block sidebar-secondary %}
		
		<div>
			{% block sidebar %}
			<!--<h3>{% trans "Shop Categories" %}</h3>-->
			{% block sidebar-categories %}
			<div id="menu_container">
				{% category_tree %}
			</div>
			{% endblock sidebar-categories %}
			
			{% block sidebar-secondary-bottom %}
			{% plugin_point "sidebar_secondary_bottom" %}
			{% endblock %}
			{% endblock sidebar %}
		</div>
		{% endblock sidebar-secondary %}
	</div> <!-- fin del sidebar secundary -->

	
		    <div id="sidebar-primary">{# rightnav #}
	{% block sidebar-primary %}
            {% block sidebar-primary-bottom %}
		{% plugin_point "shop_sidebar_primary" %}
            {% endblock %}
        {% endblock sidebar-primary %}
	

	
	</div><!-- fin del sidebar primary -->
		
		<div id="intro">
		{% block content %}{% endblock %}
	    </div>
	
		<div id="footer">
		{% block footer %}
                 <p>Todos los derechos reservados. Rinc&oacute;n Colombia. 2010</p>
		{% endblock %}
	</div>	
	
	</div> <!-- fin content -->



    </div>
	{% block page-close %}
    {% block google-tracker %}
    {% if shop.options.GOOGLE.ANALYTICS.value %}
        {% show_tracker is_secure %}
    {% endif %}
    {% endblock %}
	{% endblock %}
</body>
{% endblock %}
</html>
